*{
    margin: 0;   
    padding: 0;
}

.login{
    background-image: url('../images/login/log_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
}

.bg-card {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
}

@media screen and (max-width:768px) {
    .card{
        padding: 10px;
    }
    
}